.wrap-Products-List{
    margin-top: 2%;

    .wrap-Customer{
        padding: 1%;
    }

    a{
        color: blue;
    font-size: larger;
    border: solid black 2px;
    border-radius: 25px;
    padding: 0.5%;
    background-color: rgb(0 240 255 / 37%);
    
    &:hover{
        background-color: rgb(255 0 233 / 37%)
    }

    &:active{
        font-size:medium;
    }
}

}