.Total-wrapper {
    padding: 3%;
    font-family: inherit;
    text-align: center;

    .total{
        font-size: x-large;
        padding-top: 3%;
        font-family: revert;
        color: lightseagreen; 
    }
}

